.container {
    width: 100%;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: flex-start;
}

.container > select {
	height: 45px;
	width: 100%;
	outline: none;
	margin: 5px 0px;
	padding: 0 10px;
	border-radius: 15px;
	border: 1px solid var(--secondary);
	background-color: var(--background);
}

.container > select:focus {
	border: 2px solid var(--main);
}

.container > select::placeholder {
	font-size: 15px;
	font-weight: 400;
}