.container {
    width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.container > select {
	width: 300px;
	height: 40px;
	border-radius: 5px;
	border: 2px solid var(--main);
	outline: none;
	margin: 2px 0;
	padding: 0 10px;
}

.container > select:focus {
	border: 4px solid var(--main);
}

.container > select::placeholder {
	font-size: 15px;
	font-weight: 500;
}